<div class="comment">
  <%= link_to board_comment_path(comment.board, comment), method: :delete, remote: true,data: {confirm: "コメント：" + comment.body + "\n削除しますか？"}, class: "btn-floating btn-small black white-text comment__action" do %>
    <i class="material-icons">
      clear
    </i>
  <% end %>
  <%= link_to board_comment_path(comment.board, comment), class: "comment__body" do %>
    <div class="comment__content">
      <h3 class="comment__title"><%= comment.body %></h3>
      <p class="time"><%= comment.updated_at %></p>
    </div>
    <div class="comment__info">
      <i class="material-icons">
        reply
      </i>
      <span>
          <%= comment.replies.count %>
        </span>
    </div>
  <% end %>
</div>