<p id="notice"><%= notice %></p>

<%= render 'boards/board-card', board: @board %>

<%= render 'comment', comment: @comment %>

<%= render 'replies/form', reply: @new_reply %>

<% @replies.each do |reply| %>
  <div class="reply">
    <p><%= reply.body %></p>
    <p class="time"><%= reply.updated_at %></p>
  </div>
<% end %>

<!--<%#= link_to 'Edit', edit_comment_path(@comment) %> |-->
<%#= link_to 'Back', comments_path %>
