<p id="notice"><%= notice %></p>

<%= render 'boards/board-card', board: @board %>

<%= render 'comment', comment: @comment %>

<%= render 'replies/form', reply: @new_reply %>

<%= render partial: 'replies/reply', collection: @replies %>


<!--<%#= link_to 'Edit', edit_comment_path(@comment) %> |-->
<%= link_to 'Back', board_path(@board) %>
