<p id="notice"><%= notice %></p>

<%= render 'board-card', board: @board %>

<%= render 'comments/form', comment: @new_comment %>

<div id="comments__result">
  <%= render partial: 'comments/comment', collection: @comments %>
</div>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
