<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>
<%= render 'comments/form', comment: @new_comment %>
<% @comments.each do |comment| %>
  <div class="comment">
    <div class="comment__info">
      <p><%= comment.body %></p>
      <p><%= comment.updated_at %></p>
    </div>
    <div class="comment__action">
      <%= link_to '削除', board_comment_path(@board,comment), method: :delete, data: {confirm: "コメント："+comment.body+"\n削除しますか？"} %>
    </div>
  </div>
<% end %>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
